@use 'config' as *;
@use 'mixins' as *;

body {
	min-height: 100vh;
	background-color: var(--bgc-grayDark);
	color: var(--text-color);
	font-family: font-text, serif;
	scroll-behavior: smooth;
	position: relative;

	@include tablet {
		display: grid;
		grid-template-columns: 21% 79%;
	}
}
