@use "config" as *;
@use "mixins" as *;

body {
    min-height: 100vh;
    background-color: var(--bgc-grayDark);
    color: var(--text-color);
    font-family: font-text, serif;
    scroll-behavior: smooth;

    @include tablet {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 55px 1fr;
    }
}
