-const pages = ['home', 'services','about', 'contact'];

-const services = ['Carpinteria', 'terrazas y Patios', 'Molduras de corona', 'Enmarcado', 'Revestimiento de paredes', 'Gabenete de cocina', 'Renovacion de cocina'];