@use 'mixins' as *;
.logo {
	height: 55px;
	left: 7px;
	position: fixed;
	top: 5px;
	z-index: 100;

	& img {
		width: 100%;
		height: 100%;
	}
	@include rotated;

	@include tablet {
		position: fixed;
		right: calc(100% - 21%);
		top: 15px;
		height: 89px;
	}
}
