@use 'config' as *;
@use 'mixins' as *;

.menu {
	&__main {
		@include reset-list();
		position: relative;
	}

	&__item {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: bold;
		font-family: title, sans-serif;
		line-height: 65px;
		cursor: pointer;

		@include tablet {
			font-size: 1rem;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 10px;
			}
		}
	}
}
