@use "mixins" as *;

.toggle-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 9px;
    width: 33px;
    height: 33px;

    & .first-bar,
    & .second-bar,
    & .third-bar {
        width: 33px;
        height: 3px;
        background-color: sandybrown;
        border-radius: 15px;
        transform: rotate(0deg);
        transition: transform .9s ease-in-out;
        
        &.active {
            transform: rotate(45deg);
            transition: transform .9s ease-in-out;
        }
    }

    @include tablet {
        display: none;
    }
}
