@use 'mixins' as *;

.topBar{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   gap: 1rem;
   
   &__icon{
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      gap: 7px;
      cursor: pointer;
   }

   @include tablet{
      justify-content: space-evenly;
      width: 25vw;
      
   }
   
   @include desktop{
      width: 20vw;
   }

}