header.header
	.logo
		img(src='./assets/favicons/logo.svg', alt='logo factory')
	.topBar
		.topBar__icon
			img.icon__topBar(src='assets/favicons/user.svg', alt='icon user')
			span Sign in
		.topBar__icon 
			img.icon__topBar(src='assets/favicons/user-add.svg', alt='icon user add')
			span Sign up
	#toggle-menu.toggle-menu
		.first-bar 
		.second-bar
		.third-bar
#side-bar.side-bar 
	h2.side-bar__title CHABI
		br 
		| WOODS
	include ./menu
