header.header
	#toggle-menu.toggle-menu
		.first-bar 
		.second-bar
		.third-bar
.logo: img(src='./assets/favicons/logo.svg', alt='logo factory')
#side-bar.side-bar 
	h2.side-bar__title CHABI
		br 
		| WOODS
	include ./menu
